.popover-container {
  @apply bu-relative bu-max-w-fit;
  .popover {
    @apply bu-absolute bu-left-0 bu-top-4 bu-z-[1000] bu-hidden bu-shadow;
  }
  &:hover {
    .popover {
      @apply bu-flex;
    }
  }
}
