// 遮罩层样式
.mock {
  @apply bu-fixed bu-bottom-0 bu-left-0 bu-right-0 bu-top-0 bu-z-[9999] bu-bg-black/[.6];
}

// Drawer 容器样式
.drawerContent {
  @apply bu-p-[16px] bu-h-full bu-absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

// 定位样式
.left {
  left: 0;
}

.right {
  right: 0;
}

// 头部样式
.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  margin: 0;
  font-size: 20px;
}

// 内容区域样式
.content {
  @apply bu-flex-grow bu-overflow-y-auto bu-overflow-x-hidden bu-text-[14px] bu-font-normal bu-leading-[20px] bu-tracking-[-0.2px];
  
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }
  
  &::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 4px;
    @apply bu-bg-light-fill-tertiary;
  }
}