.container {
  @apply bu-flex bu-items-center bu-gap-1;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply bu-flex bu-items-center bu-justify-center;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  @apply bu-border-solid;
  width: 5px;
  height: 8px;
  margin-bottom: 2px;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}
