.container {
  @apply bu-flex bu-items-center bu-gap-1;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  height: 12px;
  width: 12px;
  background-color: transparent;
  @apply bu-flex bu-items-center bu-justify-center;
  @apply bu-border bu-border-light-label-60 dark:bu-border-dark-label-60;
}

/* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
//   @apply bu-bg-light-label-20 dark:bu-bg-dark-label-20;
// }

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  @apply bu-bg-light-primary dark:bu-bg-dark-primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply bu-flex bu-items-center bu-justify-center;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  width: 5px;
  height: 8px;
  margin-bottom: 2px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}
