.mock {
  @apply bu-fixed bu-bottom-0 bu-left-0 bu-right-0 bu-top-0 bu-z-[9999] bu-bg-black/[.6];
}

.dialog {
  max-height: calc(100% - 32px);
}

.title {
  @apply bu-mb-[16px] bu-px-[24px] bu-text-[18px] bu-font-medium bu-tracking-[-0.2px];
}

.content {
  @apply bu-mb-[26px] bu-flex-grow bu-overflow-y-auto bu-overflow-x-hidden bu-px-[24px] bu-text-[14px] bu-font-normal bu-leading-[20px] bu-tracking-[-0.2px];
  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 4px;
    @apply bu-bg-light-fill-tertiary;
  }
}

.fade-enter {
  opacity: 0;
  
}
.fade-enter-active {
  opacity: 1;
  transition: all 150ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}