.options {
  @apply bu-absolute bu-z-[99999] bu-rounded-[8px] bu-pb-[8px];
}

.item {
  @apply bu-flex bu-h-[34px] bu-cursor-pointer bu-items-center bu-px-[8px] bu-py-[8px] bu-text-[12px];
}

.input {
  @apply bu-cursor-pointer;
}

.roate {
  transform: rotate(180deg);
}
