.tooltip-wrapper {
  @apply bu-absolute bu-flex bu-min-w-[48px] bu-max-w-[500px] bu-flex-col bu-rounded-[4px] bu-px-[12px] bu-py-[8px];
  .title {
    @apply bu-text-[14px] bu-font-medium bu-leading-[20px];
  }
  .line {
    @apply bu-h-[8px];
  }
  .content {
    @apply bu-text-[12px] bu-font-medium bu-leading-[18px];
  }
}
