@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bu-relative bu-min-h-screen dark:bu-bg-black dark:bu-text-white;
  }

  :root {
    --light-primary-default: #f80;
    --light-primary-60: rgba(255, 136, 0, 0.6);
    --light-primary-40: rgba(255, 136, 0, 0.4);
    --light-primary-14: rgba(255, 136, 0, 0.14);
    --light-primary-10: rgba(255, 136, 0, 0.1);
    --light-secondary-default: #0569ff;
    --light-secondary-14: rgba(5, 105, 255, 0.14);
    --light-tertiary-default: #9fea0e;
    --light-tertiary-14: rgba(159, 234, 14, 0.14);
    --light-success-default: #0fcc71;
    --light-success-14: rgba(15, 204, 113, 0.14);
    --light-warning-default: #ffc400;
    --light-warning-14: rgba(255, 196, 0, 0.12);
    --light-danger-default: #d62035;
    --light-danger-14: rgba(214, 32, 53, 0.14);
    --light-green-default: #04b97d;
    --light-green-alpha: rgba(4, 185, 125, 0.14);
    --light-red-default: #f13c54;
    --light-red-alpha: rgba(241, 60, 84, 0.14);
    --light-background: #ffffff;
    --light-second: #050505;
    --light-label-default: #0a0a0a;
    --light-label-60: rgba(10, 10, 10, 0.6);
    --light-label-40: rgba(10, 10, 10, 0.4);
    --light-label-20: rgba(10, 10, 10, 0.2);
    --light-fill-primary: #f7f8fa;
    --light-fill-secondary: #f2f4f5;
    --light-fill-tertiary: #cacbcc;
    --light-fill-quaternary: #e3e4e5;
    --light-line-primary: #ebedf0;
    --light-line-secondary: #dcdee0;
    --light-line-tertiary: #cdcfd1;
    --light-hover-primary: #f90;
    --light-hover-secondary: #0582ff;
    --light-hover-tertiary: #0582ff;
    --light-hover-success: #0582ff;
    --light-hover-warning: #ffda18;
    --light-hover-anger: #eb1730;
    --light-hover-green: #00cc88;
    --light-hover-red: #ff4f67;
    --light-hover-fill-primary: #f2f3f5;
    --light-hover-fill-secondary: #e8e9eb;
    --light-hover-fill-tertiary: #b1b2b2;
    --light-hover-fill-quaternary: #dfdfe0;
    --light-disabled-blue: rgba(47, 84, 235, 0.4);
    --light-badge-primary-bg: rgba(255, 136, 0, 0.14);
    --light-badge-secondary-bg: rgba(5, 105, 255, 0.14);
    --light-badge-success-bg: rgba(15, 204, 113, 0.14);
    --light-badge-warning-bg: rgba(255, 196, 0, 0.12);
    --light-badge-danger-bg: rgba(214, 32, 53, 0.14);
    --light-badge-info-bg: #ebedf2;
    --light-pagination-primary: #2f54eb;
    --light-pagination-primary-hover: #2f54eb;
    --light-input-primary: #2f54eb;
    --light-input-gray: #dcdcdd;
    --light-input-error: #d9242f;
    --light-header-bgColor: #ffffff;
    --light-text: #ffffff;

    --dark-primary-default: #f80;
    --dark-primary-60: rgba(255, 136, 0, 0.6);
    --dark-primary-40: rgba(255, 136, 0, 0.4);
    --dark-primary-14: rgba(255, 136, 0, 0.16);
    --dark-primary-10: rgba(255, 136, 0, 0.1);
    --dark-primary-4: rgba(255, 136, 0, 0.04);

    --dark-secondary-default: #1e6bff;
    --dark-secondary-14: rgba(30, 107, 255, 0.14);

    --dark-tertiary-default: #a8ff00;
    --dark-tertiary-14: rgba(168, 255, 0, 0.14);

    --dark-success-default: #0fcc71;
    --dark-success-14: rgba(15, 204, 113, 0.14);

    --dark-warning-default: #ffd60a;
    --dark-warning-14: rgba(255, 214, 10, 0.14);

    --dark-danger-default: #d62035;
    --dark-danger-14: rgba(214, 32, 53, 0.14);

    --dark-green-default: #04b97d;
    --dark-green-alpha: rgba(4, 185, 125, 0.14);

    --dark-red-default: #f13c54;
    --dark-red-alpha: rgba(241, 60, 84, 0.14);

    --dark-background: #0f0f0f;

    --dark-second: #050505;

    --dark-label-default: #fcfdff;
    --dark-label-60: rgba(235, 236, 245, 0.6);
    --dark-label-40: rgba(235, 236, 245, 0.4);
    --dark-label-20: rgba(235, 236, 245, 0.2);

    --dark-fill-primary: #000000;
    --dark-fill-secondary: #1a1a1a;
    --dark-fill-tertiary: #2d2d2e;
    --dark-fill-quaternary: #232324;

    --dark-line-primary: #2d2d2e;
    --dark-line-secondary: #3c3d3d;
    --dark-line-tertiary: #4b4c4d;

    --dark-hover-primary: #fa7500;
    --dark-hover-secondary: #1b60e5;
    --dark-hover-tertiary: #a8ff00;
    --dark-hover-success: #13ba6a;
    --dark-hover-warning: #ffc908;
    --dark-hover-anger: #bf1d30;
    --dark-hover-green: #0aab75;
    --dark-hover-red: #e03a51;
    --dark-hover-fill-primary: #121212;
    --dark-hover-fill-secondary: #242424;
    --dark-hover-fill-tertiary: #373838;
    --dark-hover-fill-quaternary: #323233;

    --dark-disabled-blue: rgba(92, 124, 255, 0.4);

    --dark-badge-primary-bg: rgba(255, 136, 0, 0.14);
    --dark-badge-secondary-bg: rgba(30, 107, 255, 0.14);
    --dark-badge-success-bg: rgba(15, 204, 113, 0.14);
    --dark-badge-warning-bg: rgba(255, 214, 10, 0.14);
    --dark-badge-danger-bg: rgba(214, 32, 53, 0.14);
    --dark-badge-info-bg: #242424;

    --dark-pagination-primary: #2f54eb;
    --dark-pagination-primary-hover: #f6f7fb;

    --dark-input-primary: #2f54eb;
    --dark-input-gray: #dcdcdd;
    --dark-input-error: #d9242f;

    --dark-header-bgColor: transparent;

    --dark-text: #ffffff;

    --base-primary-default: var(--light-primary-default);
    --base-primary-60: var(--light-primary-60);
    --base-primary-40: var(--light-primary-40);
    --base-primary-14: var(--light-primary-14);
    --base-primary-10: var(--light-primary-10);
    --base-secondary-default: var(--light-secondary-default);
    --base-secondary-14: var(--light-secondary-14);
    --base-tertiary-default: var(--light-tertiary-default);
    --base-tertiary-14: var(--light-tertiary-14);
    --base-success-default: var(--light-success-default);
    --base-success-14: var(--light-success-14);
    --base-warning-default: var(--light-warning-default);
    --base-warning-14: var(--light-warning-14);
    --base-danger-default: var(--light-danger-default);
    --base-danger-14: var(--light-danger-14);
    --base-green-default: var(--light-green-default);
    --base-green-alpha: var(--light-green-alpha);
    --base-red-default: var(--light-red-default);
    --base-red-alpha: var(--light-red-alpha);
    --base-background: var(--light-background);
    --base-second: var(--light-second);
    --base-label-default: var(--light-label-default);
    --base-label-60: var(--light-label-60);
    --base-label-40: var(--light-label-40);
    --base-label-20: var(--light-label-20);
    --base-fill-primary: var(--light-fill-primary);
    --base-fill-secondary: var(--light-fill-secondary);
    --base-fill-tertiary: var(--light-fill-tertiary);
    --base-fill-quaternary: var(--light-fill-quaternary);
    --base-line-primary: var(--light-line-primary);
    --base-line-secondary: var(--light-line-secondary);
    --base-line-tertiary: var(--light-line-tertiary);
    --base-hover-primary: var(--light-hover-primary);
    --base-hover-secondary: var(--light-hover-secondary);
    --base-hover-tertiary: var(--light-hover-tertiary);
    --base-hover-success: var(--light-hover-success);
    --base-hover-warning: var(--light-hover-warning);
    --base-hover-anger: var(--light-hover-anger);
    --base-hover-green: var(--light-hover-green);
    --base-hover-red: var(--light-hover-red);
    --base-hover-fill-primary: var(--light-hover-fill-primary);
    --base-hover-fill-secondary: var(--light-hover-fill-secondary);
    --base-hover-fill-tertiary: var(--light-hover-fill-tertiary);
    --base-hover-fill-quaternary: var(--light-hover-fill-quaternary);
    --base-disabled-blue: var(--light-disabled-blue);
    --base-badge-primary-bg: var(--light-badge-primary-bg);
    --base-badge-secondary-bg: var(--light-badge-secondary-bg);
    --base-badge-success-bg: var(--light-badge-success-bg);
    --base-badge-warning-bg: var(--light-badge-warning-bg);
    --base-badge-danger-bg: var(--light-badge-danger-bg);
    --base-badge-info-bg: var(--light-badge-info-bg);
    --base-pagination-primary: var(--light-pagination-primary);
    --base-pagination-primary-hover: var(--light-pagination-primary-hover);
    --base-input-primary: var(--light-input-primary);
    --base-input-gray: var(--light-input-gray);
    --base-input-error: var(--light-input-error);
    --base-header-bgColor: var(--light-header-bgColor);
    --base-text: var(--light-text);

    --btn-rounded-small: 6px;
    --btn-rounded-medium: 8px;
    --textfiled-rounded-medium: 8px;
    --textfiled-padding-left-sm: 8px;
    --textfiled-padding-left-md: 8px;
    --textfiled-padding-left-lg: 12px;
  }

  [data-theme="dark"] {
    --base-primary-default: var(--dark-primary-default);
    --base-primary-60: var(--dark-primary-60);
    --base-primary-40: var(--dark-primary-40);
    --base-primary-14: var(--dark-primary-14);
    --base-primary-10: var(--dark-primary-10);
    --base-secondary-default: var(--dark-secondary-default);
    --base-secondary-14: var(--dark-secondary-14);
    --base-tertiary-default: var(--dark-tertiary-default);
    --base-tertiary-14: var(--dark-tertiary-14);
    --base-success-default: var(--dark-success-default);
    --base-success-14: var(--dark-success-14);
    --base-warning-default: var(--dark-warning-default);
    --base-warning-14: var(--dark-warning-14);
    --base-danger-default: var(--dark-danger-default);
    --base-danger-14: var(--dark-danger-14);
    --base-green-default: var(--dark-green-default);
    --base-green-alpha: var(--dark-green-alpha);
    --base-red-default: var(--dark-red-default);
    --base-red-alpha: var(--dark-red-alpha);
    --base-background: var(--dark-background);
    --base-second: var(--dark-second);
    --base-label-default: var(--dark-label-default);
    --base-label-60: var(--dark-label-60);
    --base-label-40: var(--dark-label-40);
    --base-label-20: var(--dark-label-20);
    --base-fill-primary: var(--dark-fill-primary);
    --base-fill-secondary: var(--dark-fill-secondary);
    --base-fill-tertiary: var(--dark-fill-tertiary);
    --base-fill-quaternary: var(--dark-fill-quaternary);
    --base-line-primary: var(--dark-line-primary);
    --base-line-secondary: var(--dark-line-secondary);
    --base-line-tertiary: var(--dark-line-tertiary);
    --base-hover-primary: var(--dark-hover-primary);
    --base-hover-secondary: var(--dark-hover-secondary);
    --base-hover-tertiary: var(--dark-hover-tertiary);
    --base-hover-success: var(--dark-hover-success);
    --base-hover-warning: var(--dark-hover-warning);
    --base-hover-anger: var(--dark-hover-anger);
    --base-hover-green: var(--dark-hover-green);
    --base-hover-red: var(--dark-hover-red);
    --base-hover-fill-primary: var(--dark-hover-fill-primary);
    --base-hover-fill-secondary: var(--dark-hover-fill-secondary);
    --base-hover-fill-tertiary: var(--dark-hover-fill-tertiary);
    --base-hover-fill-quaternary: var(--dark-hover-fill-quaternary);
    --base-disabled-blue: var(--dark-disabled-blue);
    --base-badge-primary-bg: var(--dark-badge-primary-bg);
    --base-badge-secondary-bg: var(--dark-badge-secondary-bg);
    --base-badge-success-bg: var(--dark-badge-success-bg);
    --base-badge-warning-bg: var(--dark-badge-warning-bg);
    --base-badge-danger-bg: var(--dark-badge-danger-bg);
    --base-badge-info-bg: var(--dark-badge-info-bg);
    --base-pagination-primary: var(--dark-pagination-primary);
    --base-pagination-primary-hover: var(--dark-pagination-primary-hover);
    --base-input-primary: var(--dark-input-primary);
    --base-input-gray: var(--dark-input-gray);
    --base-input-error: var(--dark-input-error);
    --base-header-bgColor: var(--dark-header-bgColor);
    --base-text: var(--dark-text);
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
