.sort-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 14px;
  .icon {
    width: 10px;
    height: 6px;
    display: flex;
    align-items: center;
    margin-inline-start: 5px;
  }

  &.sort-wrap-light {
    @apply bu-text-light-label-20;

    .sort-active {
      @apply bu-text-light-label-60;
    }
  }

  &.sort-wrap-dark {
    @apply bu-text-dark-label-20;

    .sort-active {
      @apply bu-text-dark-label-60;
    }
  }
}
